<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Medusa Shop</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="css/warehouse.css">
    <link rel="stylesheet" href="css/order.css">
    <link rel="stylesheet" href="css/modal-doihang.css">
</head>

<body onload="ShowAllDataOrder()">
    <div class="container-fluid p-0">

        <!-- Header -->
        <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top d-flex p-2">

            <!-- Logo -->
            <a class="logo" href="#">
                <img src="images/logomedusa.png" alt="" class="offset-2">
            </a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Search -->
                <form class="form-outline col-md-5 ">
                    <div class="md-form my-0">
                        <div>
                            <input class="form-control mr-sm-2 d-flex flex-row bg-light" type="text"
                                placeholder="Search for Name" aria-label="Search">
                        </div>

                        <div class="search_btn d-flex flex-row">
                            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </form>

                <!-- Notification -->
                <ul class="navbar-nav nav-flex-icons offset-3">
                    <li class="nav-item">
                        <a class="nav-link noti-icon">
                            <i class="fa fa-envelope-o mr-2"></i>
                            <span class="number bg-success">+5</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link noti-icon">
                            <i class="fa fa-bell-o mr-2" aria-hidden="true"></i>
                            <span class="number bg-warning">+1</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link noti-icon">
                            <i class="fa fa-cogs mr-3" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item avatar  pl-md-4" data-toggle="dropdown" >
                        <img src="images/avt.png" alt="" class="dropdown-toggle" aria-haspopup="true"
                        aria-expanded="false">
                        <small style="color: #a8c5de">
                            <a href="#">Administrator</a>
                        </small>
                    </li>

                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">
                            <a href="">Trang chủ</a>
                        </button>
                        
                            <form action="#" th:action="@{/logout}" method="POST">
                            <button class="dropdown-item" type="submit">
                            		LogOut
						       </button>
						    </form>
                    </div>
                </ul>

            </div>

            <!-- Collapsible content -->
        </nav>

        <!-- container -->
        <div class="row mt-5 pt-1" id="body-row">

            <!-- Side bar -->
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">

                <ul class="list-group">

                    <li
                        class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        <small><strong>Quản trị</strong></small>
                    </li>

                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-dashboard fa-fw mr-3"></span>
                            <span class="menu-collapsed">Bảng điều khiển</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu1' class="collapse sidebar-submenu">
                        <a href="http://localhost:8080/" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-line-chart ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Báo cáo</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-calendar-check-o ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Đơn hàng</span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-calendar-check-o ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Báo giá</span>
                        </a>
                    </div>
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-user fa-fw mr-3"></span>
                            <span class="menu-collapsed">Thông tin</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu2' class="collapse sidebar-submenu">
                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-info-circle ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Nhân viên</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-user-circle-o ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Khách hàng</span>
                        </a>
                    </div>

                    <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-tasks fa-fw mr-3"></span>
                            <span class="menu-collapsed">Công nợ</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu3' class="collapse sidebar-submenu">
                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-info-circle ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Phải thu</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-user-circle-o ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Phải trả</span>
                        </a>
                    </div>

                    <li
                        class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        <small><strong>Tùy chọn</strong></small>
                    </li>

                    <a href="#submenu4" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-shopping-cart fa-fw mr-3"></span>
                            <span class="menu-collapsed">Bán hàng</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu4' class="collapse sidebar-submenu">
                        <a href="http://localhost:8080/sales" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-plus-circle ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Bán hàng</span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-refresh ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed" data-toggle="modal" data-target="#myModal1">Đổi hàng</span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-user-circle-o ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Tạo tài khoản</span>
                        </a>
                    </div>

                    <a href="#" class="bg-dark list-group-item list-group-item-action" >
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-calendar fa-fw mr-3"></span>
                            <span class="menu-collapsed">Kho hàng</span>
                        </div>
                    </a>

                    <a href="#" class="bg-dark list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-search fa-fw mr-3"></span>
                            <span class="menu-collapsed">Tìm kiếm</span>
                        </div>
                    </a>

                    <a href="#" class="bg-dark list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-envelope-o fa-fw mr-3"></span>
                            <span class="menu-collapsed">Messages
                                <!-- <span class="badge badge-pill badge-primary ml-2">5</span> -->
                            </span>
                        </div>
                    </a>

                    <li class="list-group-item sidebar-separator menu-collapsed"></li>

                    <a href="#" data-toggle="sidebar-colapse"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        </div>
                    </a>
                </ul>
            </div>
            <!-- order -->
            <div class="order">
                <div class="order-path row">
                    <div class=" col-md-4 mt-2">
                        <a href="http://localhost:8080/">Bảng Điều Khiển</a>
                        <span> / Order</span>
                    </div>
                    <div class="col"></div> 
                    <div class="col-md-5 row">
                        <button class="doihang col-3"><i class="fas fa-plus"></i> Doi Hang</button>
                        <div class="input-donhang col-8">
                            <label for="text">Search :</label>
                            <input type="text" id="" class="inputsearchdonhang" >
                        </div>
                    </div>                     
                </div>
                <div class="order-show mt-2">
                    <table style="width: 100%;">
                        <thead>
                            <tr class="title row">
                                <th class="col-2">Ngay Tao</th>
                                <th class="col-2">Ma Don Hang</th>
                                <th class="col-4">Thong Tin Dat Hang</th>
                                <th class="col-1">Thanh Tien</th>
                                <th class="col-2">Trang Thai</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            
                        </tbody>
                    </table>
                    
                </div>

            </div>
            <!-- End----------------------------------------------------------------------------------------------------------------- -->

           


<!-- Modal -->
    <div class="modal-Order" id="modal_Order">
        
    </div>
    



        </div>
    </div>

    <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <script src="main.js"></script>
    <script src="tablesort.js"></script>
    <script src="doiHang.js"></script>

    <script>

        //show all data order
        function ShowAllDataOrder(){
            $.ajax({url: "http://localhost:8080/admin/getAllOrder"})
                .then(function(dataOrder){                    
                    ShowDataOrder(dataOrder);
                    addModalOrdel(dataOrder);
                })
        }
        function ShowDataOrder(dataOrder){            
            let table = document.getElementById("table");
            table.innerHTML = "";
            
                for(let i = 0; i < dataOrder.length; i++){  
                	console.log(dataOrder[i]);
                    let contents = "";
                        contents +=`
                            <tr class="row">
                                <td class="col-2">${dataOrder[i].ngay}</td>
                                <td class="col-2">${dataOrder[i].id} </td>
                                <td class="col-4">${dataOrder[i].tenKH} / ${dataOrder[i].phone} / ${dataOrder[i].diaChi}.</td>
                                <td class="col-1">${dataOrder[i].tongTien}</td>
                                <td class="col-2 text-danger">${dataOrder[i].trangThai}</td>
                                <td class="col-1">
                                <i class="fas fa-trash-alt text-danger" onclick="deleteOneOrderById(${dataOrder[i].id})"></i>
                                <i type="button" data-toggle="modal" data-target="#exampleModal${dataOrder[i].id}" class="fas fa-info-circle text-warning"></i>
                                </td>
                            </tr>`;
                        $(contents).appendTo(table);
                }
        }

        //delete one order
        function deleteOneOrderById(idorder){
            $.ajax({url: "http://localhost:8080/admin/deleteOneOrderById?id="+idorder})
            location.reload();
        }

        //add modal all order
        function addModalOrdel(dataModal){
            let modal_order = document.getElementById("modal_Order");
                modal_order.innerHTML= "";
                for(let i = 0; i <dataModal.length; i++){
                    let contentsModal = "";
                        contentsModal +=`
                        <div class="modal fade" id="exampleModal${dataModal[i].id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header pb-0">
                                        <div class="d-flex flex-column">
                                            <h5 class="modal-title" id="exampleModalLabel">Ma Don Hang : 1</h5>
                                            <p>20/11/2012</p>
                                        </div>
                                        
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    
                                    <div class="MD-order-tt">
                                        <div class="btn col-12 row">
                                            <div class="MD-order-title col-md-4 text-right float-left">
                                                <p>Khách Hàng :</p>
                                                <p>Địa chỉ :</p>
                                                <p>Điện Thoại :</p>
                                                <p>Mail :</p>
                                            </div>
                                            <div class="MD-order-content col-md-8 text-left">
                                                <p>Lê Hoàng Lợi</p>
                                                <p>Hương Trà , Thành Phố Huế</p>
                                                <p>0961401478</p>
                                                <p>lehoangloi@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" style="border-bottom: 1px solid black;"></div>
                                    <div class="MD-order-nv mt-3 row">
                                        <div class="col"></div>
                                        <div class="col-4 row">
                                            <div class="col-5 text-right">
                                                <p>Tên Cửa Hàng :</p>
                                                <p>Tên Nhân Viên :</p>
                                            </div>
                                            <div class="col-6 text-left">
                                                <p>Cửa Hàng A</p>
                                                <p>Nguyễn Văn A</p>
                                            </div>
                                        </div>
                            
                                        <div class="col-5 row">
                                            <div class="col-4 text-right">
                                                <p>Tổng Tiền :</p>
                                                <p>Trạng Thái :</p>
                                            </div>
                                            <div class="col-8 text-left">
                                                <p>100000000đ</p>
                                                <p>Đã Thanh Toán</p>
                                            </div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>          
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                        $(contentsModal).appendTo(modal_order);
                }

        }
    </script>
    
</body>

</html>