<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Medusa Shop</title>
   <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<script th:src="@{/resources/jquery/jquery.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="css/warehouse.css">
    <link rel="stylesheet" href="css/order.css">
    <link rel="stylesheet" href="css/modal-doihang.css">
</head>

<body onload="ShowAllDataOrder()">
    <div class="container-fluid p-0">

        <div th:insert="fragments/header :: header"></div>
		

        <!-- container -->
        <div class="row mt-5 pt-1" id="body-row">
				<div th:insert="fragments/sidebar :: sidebar"></div>
          
            <!-- order -->
            <div class="order">
                <div class="order-path row">
                    <div class=" col-md-4 mt-2">
                        <a href="http://localhost:8080/">Bảng Điều Khiển</a>
                        <span> / Order</span>
                    </div>
                    <div class="col"></div> 
                    <div class="col-md-5 row">

                        <div class="input-donhang col-8">
                            
                        </div>
                    </div>                     
                </div>
                <div class="order-show mt-2">
                	
                		
                		<h3 class="text  text-center text-title mt-4 mb-4" >Danh sách đơn hàng</h3>
                	<div style="float: right">
                		<i class="fas fa-search" style="position: absolute;left: 95%;top: 27.5%;color: #009879"></i>
                		<input type="text" class="form-control" placeholder="id,name,email..." style="width: 250px" id="search-input">
                	</div>
                    <table style="width: 100%;" class="table content-table table-bordered table-striped" >
                    
                        <thead>
                            <tr class="title ">
                                <th >Ngày</th>
                                <th >Mã đơn</th>
                                <th >Tên khách hàng</th>
                                <th>email</th>
                                <th >Thành tiền</th>
                                <th >Trạng thái</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody id="table">
                        	<!-- <th:block th:each="order : ${orders}">
                            	<tr class="row">
                                	<td class="col-2"> <p th:text="${order.ngay}"></p></td>
                                	<td class="col-2"><p th:text="${order.id}"></p></td>
                                	<td class="col-4"> 
	                                	<p th:text="${order.tenKH}" class="float-left" ></p>
	                                	<p th:text="${order.phone}" class="float-left"></p>
	                                	<p th:text="${order.email}" class="float-left"></p>
                                	</td>
                                	<td class="col-1"><p th:text="${order.tongTien}"></p></td>
                                    <td class="col-2"><p th:text="${order.trangThai}"></p></td>
                                    <td class= "col-1">
                                    <i type="button" data-toggle="modal" data-target="#exampleModal${order.id}" class="fas fa-info-circle text-warning"></i>
                                    </td>
                            	</tr>
                            	<select class="" id="selectTrangThai" style="border: 0; background: transparent;color: white">
                                        <option selected style="color: black">Trạng thái</option>
                                        <option value="Asc" style="color: black">Đã thanh toán</option>
                                        <option value="Desc" style="color: black">Chưa thanh toán</option>
                                      </select>
                            </th:block> -->
                        </tbody>
                    </table>
                    
                </div>
				 
		            	<div class="button-phantrang ">
		            		 <div class="form-group form-inline" >
		            	 	<button class="btn  form-control" id="button-first" onclick="buttonFirst()">First</button>
		            		<button class="btn  form-control" id ="button-pre" onclick="buttonPre()"><i class="fas fa-arrow-left"></i></button>
		            		<input type="text" value="1" style="text-align: center;width: 50px"  class="form-control" id="input-page-number">
		            		<button class="btn form-control" id ="go" onclick="buttonGo()" type="submit">Go</button>
		            		<button class="btn  form-control" id ="button-next" onclick="buttonNext()"><i class="fas fa-arrow-right"></i></button>
		            		<button class="btn  form-control" id ="button-last" onclick="buttonLast()">Last</button>
		            	
		            	 </div>
		            	</div>
            
            </div>
            
           
            <!-- End----------------------------------------------------------------------------------------------------------------- -->

           


<!-- Modal -->
    <div class="modal-Order" id="modal_Order">
        
    </div>
    



        </div>
    </div>

    <script th:src="@{/resources/jquery/jquery.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>
    <script src="main.js"></script>
    <script src="tablesort.js"></script>
    <script src="doiHang.js"></script>

    <script>
		
    	let search = document.getElementById('search-input')
    	search.addEventListener('input',function(){
    		
    		searchText = search.value
    		console.log(searchText)
    		if(searchText !=""){
    			$.ajax({
        			url:"http://localhost:8080/api/search?q="+searchText+"&pageNumber="+0
        		}).then(function(data){
        			document.getElementById("input-page-number").value=1
        			ShowDataOrder(data)
        			addModalOrdel(data)
        		})
    		}else{
    			 $.ajax({url: "http://localhost:8080/admin/getAllOrder?page-number="+0})
                 .then(function(dataOrder){ 
                	 document.getElementById("input-page-number").value=1
                     ShowDataOrder(dataOrder);
                     addModalOrdel(dataOrder)
                     
                 })
    		}
    		
    		
    	})
    	
    
    	function buttonFirst(){
    		if(search.value != ""){
    			$.ajax({
        			url:"http://localhost:8080/api/search?q="+search.value+"&pageNumber="+0
        		}).then(function(data){
        			document.getElementById("input-page-number").value=1
        			ShowDataOrder(data)
        			addModalOrdel(data)
        		})
    			
    		}else{
    			$.ajax({url: "http://localhost:8080/admin/getAllOrder?page-number="+0})
                .then(function(dataOrder){ 
                	document.getElementById("input-page-number").value=1
                    ShowDataOrder(dataOrder);
                    addModalOrdel(dataOrder)
                })
    		}  		  		
    	}
    	function buttonPre(){
    		i = document.getElementById("input-page-number")
    		if(search.value != ""){
    			if(i.value > 1 ) {
    				$.ajax({
            			url:"http://localhost:8080/api/search?q="+search.value+"&pageNumber="+(i.value-2)
            		}).then(function(data){
            			i.value -=1
            			ShowDataOrder(data)
            			addModalOrdel(data)
            		})
    			}
    			
    		}else{
    			    		
        		if(i.value > 1){
        			$.ajax({url: "http://localhost:8080/admin/getAllOrder?page-number="+(i.value-2)})
                    .then(function(dataOrder){
                    	
                    	i.value -=1
                        ShowDataOrder(dataOrder);
                        addModalOrdel(dataOrder)
                    })
        		}
    		}
    		
            
    		
    	}
    	function buttonGo(){
    		i = document.getElementById("input-page-number")  
    		if(search.value != ""){
    			$.ajax({
        			url:"http://localhost:8080/api/search?q="+search.value+"&pageNumber="+(i.value-1)
        		}).then(function(data){
        			
        			ShowDataOrder(data)
        			addModalOrdel(data)
        		})
    			
    		}else{
			$.ajax({url: "http://localhost:8080/admin/getAllOrder?page-number="+(i.value-1)})
    			
                .then(function(dataOrder){                	                	
                    ShowDataOrder(dataOrder);
                    addModalOrdel(dataOrder)
                })
    		}
    		
    		    		           
    		
    	}
    	function buttonNext(){
    		i = document.getElementById("input-page-number")   
    		
    		if(search.value != ""){
    				let count = 0 
    				$.ajax({
						url:"http://localhost:8080/api/last-page-search-result?q="+search.value
					}).then(function(resultCount){
						if ( i.value <= resultCount ){
	    					$.ajax({
	                			url:"http://localhost:8080/api/search?q="+search.value+"&pageNumber="+(i.value)
	                		}).then(function(data){
	                			i.value = parseInt(i.value)+1
	                			ShowDataOrder(data)
	                			addModalOrdel(data)
	                		})
	    				}
					})
    				
    			
    			
    		}else{
    			    		
    			$.ajax({url: "http://localhost:8080/admin/getAllOrder?page-number="+(i.value)})   			
                .then(function(dataOrder){                        	
					i.value = parseInt(i.value)+1
                    ShowDataOrder(dataOrder);
                    addModalOrdel(dataOrder)
                }) 
    		}
    		
    		   		           
    			
    	}			
    	
    	
    	
    		
    		
    	function buttonLast(){
    		i = document.getElementById("input-page-number")   	
    		if(search.value != ""){
    			
				$.ajax({
					url:"http://localhost:8080/api/last-page-search-result?q="+search.value
				}).then(function(count){
					$.ajax({
        			url:"http://localhost:8080/api/search?q="+searchText+"&pageNumber="+count
        				}).then(function(data){
        			i.value = count+1
        			ShowDataOrder(data)
        			addModalOrdel(data)
        		})
			
				})
			
		}else{
			    		
			$.ajax({
    			url:"http://localhost:8080/admin/last-page"
    		}).then (function(count){
    			
    			
    			$.ajax({url: "http://localhost:8080/admin/getAllOrder?page-number="+count})   			
                .then(function(dataOrder){                     	
					i.value = count+1
                    ShowDataOrder(dataOrder);
                    addModalOrdel(dataOrder)
                })  
    		})	
		}
    		
    		           
    			
    	} 		           
    			
    	
    
        //show all data order
        function ShowAllDataOrder(){
            $.ajax({url: "http://localhost:8080/admin/getAllOrder?page-number="+0})
                .then(function(dataOrder){ 
                    ShowDataOrder(dataOrder);
                    addModalOrdel(dataOrder)
                    
                })
        }
        function ShowDataOrder(dataOrder){            
            let table = document.getElementById("table");
            table.innerHTML = "";
            
                for(let i = 0; i < dataOrder.length; i++){  
                	
                    let contents = "";
                        contents +=`
                            <tr >
                                <td>${dataOrder[i].ngay}</td>
                                <td>${dataOrder[i].id} </td>
                                <td>${dataOrder[i].tenKH}</td>
                                <td>${dataOrder[i].email}</td>
                                <td>${dataOrder[i].tongSoTien}</td>
                                <td class=>${dataOrder[i].trangThai}</td>
                                <td class="">
                               
                                <i type="button" data-toggle="modal" data-target="#exampleModal${dataOrder[i].id}" class="fas fa-info-circle  icon"></i>
                                </td>
                            </tr>`;
                        $(contents).appendTo(table);
                }
        }

        //delete one order
        function deleteOneOrderById(idorder){
            $.ajax({url: "http://localhost:8080/admin/deleteOneOrderById?id="+idorder})
            location.reload();
        }

        //add modal all order
        function addModalOrdel(dataModal){
            let modal_order = document.getElementById("modal_Order");
                modal_order.innerHTML= "";
                for(let i = 0; i <dataModal.length; i++){
                    let contentsModal = "";
                        contentsModal +=`
                        <div class="modal fade" id="exampleModal${dataModal[i].id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header pb-0">
                                        <div class="d-flex flex-column">
                                            <h5 class="modal-title" id="exampleModalLabel">Mã đơn hàng : ${dataModal[i].id}</h5>
                                            <p>${dataModal[i].ngay}</p>
                                        </div>
                                        
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    
                                    <div class="MD-order-tt">
                                        <div class="col-12 row">
                                            <div class="MD-order-title col-md-4 text-right float-left">
                                                <p>Khách Hàng :</p>
                                                <p>Địa chỉ :</p>
                                                <p>Điện Thoại :</p>
                                                <p>Mail :</p>
                                            </div>
                                            <div class="MD-order-content col-md-8 text-left">
                                                <p>${dataModal[i].tenKH}</p>
                                                <p>${dataModal[i].diaChi}</p>
                                                <p>${dataModal[i].phone}</p>
                                                <p>${dataModal[i].email}</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="" style="border: 1px solid black;">
                                        <table style="width: 100%;" class="modal-table">
                                            <thead>
                                                <tr class="title row">
                                                    <th class="col-2 ">Mã sản phẩm</th>
                                                    <th class="col-4">Tên sản phẩm</th>                                                    
                                                    <th class="col-2">Đơn giá</th>
                                                    <th class="col-1">Số lượng</th>
                                                    <th class="col-3">Thành tiền</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody id="MD_table_Pd${dataModal[i].id}">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="MD-order-nv mt-3 row">
                                        <div class="col"></div>
                                        <div class="col-4 row">
                                            <div class="col-5 text-right">
                                                <p>Tên Cửa Hàng :</p>
                                                <p>Tên Nhân Viên :</p>
                                            </div>
                                            <div class="col-6 text-left">
                                                <p>${dataModal[i].cuaHang}</p>
                                                <p>${dataModal[i].tenNguoiBan}</p>
                                            </div>
                                        </div>
                            
                                        <div class="col-5 row">
                                            <div class="col-4 text-right">
                                                <p>Tổng Tiền :</p>
                                                <p>Trạng Thái :</p>
                                            </div>
                                            <div class="col-8 text-left">
                                                <p>${dataModal[i].tongTien}</p>
                                                <p>${dataModal[i].trangThai}</p>
                                            </div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn " data-dismiss="modal">Close</button>          
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                        $(contentsModal).appendTo(modal_order);
                //add table san pham order
                $(document).ready(function(){
                    $.ajax({url : "http://localhost:8080/admin/getOrderItem?id="+dataModal[i].id})
                        .then(function(data_MD_Pd){
                            let MD_table_Pd = document.getElementById("MD_table_Pd"+dataModal[i].id);
                                MD_table_Pd.innerHTML = "";

                                for(let i = 0; i< data_MD_Pd.length; i++){                                    
                                    let contentsModalPd = "";
                                        contentsModalPd +=`
                                        <tr class="row">
                                            <td class="col-2 text-center">${data_MD_Pd[i].product.maSP}</td>
                                            <td class="col-4 text-center ">${data_MD_Pd[i].product.tenSP} </td>
                                            <td class="col-2 text-center">${data_MD_Pd[i].product.donGia}</td>
                                            <td class="col-1 text-center">${data_MD_Pd[i].soLuong}</td>                                          
                                            <td class="col-3 text-center">${data_MD_Pd[i].thanhTien}</td>                                            
                                        </tr>`;
                                        $(contentsModalPd).appendTo(MD_table_Pd);
                                }
                        })                                    
                })//end

                }                

        }
        
    </script>
    
</body>

</html>