<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="CodePen">   	
    <title>Medusa Shop</title>
   <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="css/baogia.css">
</head>

<body>
    <div class="container-fluid p-0">

        <div th:insert="fragments/header :: header"></div>

        <!-- container -->
        <div class="row mt-5 pt-1" id="body-row">
			<div th:insert="fragments/sidebar :: sidebar"></div>
            
            <!-- warehouse -->
            <div class="warehouse">
                <div class="warehouse-path">
                    <a href="http://localhost:8080/">Bảng Điều Khiển</a>
                    <span> /Báo giá</span>   
                </div>
                
                 <div class="baogia d-flex">
                    <div class="warehouse-show table-1 mt-2 " >
                        <h3 class="text text-center text-title mt-2 mb-2">Lựa chọn sản phẩm</h3>
                        <div style="float: left;">
                        	
                        	<input type="text" class="form-control" style="width: 150px" id="search-product">
                        </div>
                        <div class="table-header" style="width: calc(100% - 17px)">
                        	<table class="table table-bordered">
                        	<thead>
                                <tr>
                                    <th class ="pr-id">ID</th>
                                    <th class ="pr-name">Tên sản phẩm</th>
                                    <th class ="pr-price">Đơn Giá</th>
                                    <th class ="pr-amount">Số lượng</th>
                                    <th class ="pr-sum">Thành tiền</th>
                                    <th class ="pr-check"><input class="form-control"  onclick="check(this.id)" id="checkAll-product"  type="checkbox" ></th>
                                </tr>
                            </thead>
                        </table>
                        </div>
                        <div style="max-height: 450px;overflow: auto" >
                        	<table class="table table-bordered">
                            
                            <tbody id="products">
                               <th:block th:each="product : ${products}">
                               	<tr>
                               		<td class ="pr-id"> <p th:text="${product.maSP}" th:id="productId"> </p></td>
                               		<td class ="pr-name"> <p th:text="${product.tenSP}" th:id="productName"></p></td>
                               		<td class ="pr-price"> <p th:text="${product.donGia}" th:id="price"></p> </td>
                               		<td class ="pr-amount"> <input th:class="form-control" th:id="amount" style="width: 80px" type="number" th:min=0 th:value=1 > </td>
                               		<td class ="pr-sum"> <p th:text="${product.donGia}" th:id="sum"></p> </td>
                               		<td class ="pr-check"><input class="form-control checkBox-product " id="checkBox-product" type="checkbox" onclick="check(this.id)" th:value="${product.maSP}"  ></td>
                               	</tr>
                               </th:block>
                            </tbody>
                            
                        </table>
                        </div>
                        
                         
                                    
                                      
                       
                       
                    </div>
                    <div class="warehouse-show table-2 mt-2 ">
                        <h3 class="text text-center text-title mt-2 mb-2">Lựa chọn khách hàng</h3>
                        <div style="float: left;">
                        	
                        	<input type="text" class="form-control" style="width: 150px" id="search-customer">
                        </div>
                        <div class="table-header"style="width: calc(100% - 17px);">
                        	<table class="table table-bordered">
                        		<thead>
                                
                                    <tr>
                                    	<th class="cus-id">ID</th>
                                        <th class="cus-name">Tên khách hàng</th>
                                        <th class="cus-email">Email</th>                                     
                                        <th class="cus-check"><input class="form-control" id="checkAll-customer" onclick="check(this.id)" type="checkbox"  ></th>
                                    </tr>
                              
                            </thead>
                        	</table>
                        </div>
                        
                        <div style="max-height: 450px;overflow: auto">
                        	<table class="table table-bordered" id="my-table">
                            
                            <tbody id="customers">
                                <th:block th:each="customer : ${customers}">
                               	<tr>
                               		<td class="cus-id"> <p th:text="${customer.maKH}" th:id="customerId"></p> </td>
                               		<td class="cus-name"><p th:text="${customer.tenKH}" th:id="customerName"></p></td>
                               		<td class="cus-email"><p  th:text="${customer.email}"th:id="email"></p></td>
                               		
                               		<td class="cus-check"><input class="form-control checkBox-customer" id="checkBox-customer" onclick="check(this.id)" type="checkbox"  th:value="${customer.maKH}"  ></td>
                               	</tr>
                               </th:block>
                            </tbody>
                            
                        </table>
                        </div>
                        
                        <button style="margin-top: 30px; background: #9b59b6; color:#fff " class="btn"  id="send-mail">Xác nhận gởi mail</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/resources/jquery/jquery.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>
    <script src="main.js"></script>
    <script>
     
   	
    
    let searchProduct = document.getElementById('search-product')
    searchProduct.addEventListener('input',function(){
    	document.getElementById("checkAll-product").checked=false;
    	
    	
    	if (searchProduct.value != "" ){
    		if(searchProduct.value !="a" && searchProduct.value!="A"){
    			$.ajax({
            		url:"http://localhost:8080/api/search-product?q="+searchProduct.value
            	}).then(function(data){
            		
            		showDataProduct(data)
            	})
    		}
    		
    	}else {
    		console.log('search = ""')
    		$.ajax({
    			url:"http://localhost:8080/admin/getAlltProduct"
    		}).then(function(data){
    			
    			showDataProduct(data)
    		})
    	}
    	
    	
    })
    
    	function showDataProduct(data){
    		
    		let products = document.getElementById('products')
    		let content=''
    		for (let i = 0 ; i < data.length;i++){
    			content+=`
    				<tr>
    				<td class ="pr-id"> <p id="productId"> ${data[i].maSP}</p></td>
               		<td class ="pr-name"> <p id="productName">${data[i].tenSP}</p></td>
               		<td class ="pr-price"> <p  id="price"> ${data[i].donGia}</p> </td>
               		<td class ="pr-amount"> <input class="form-control" id="amount" onchange=change(${i}) style="width: 80px" type="number" min=0 value=1 > </td>
               		<td class ="pr-sum"> <p  id="sum">${data[i].donGia}</p> </td>
               		<td class ="pr-check"><input class="form-control checkBox-product " id="checkBox-product" type="checkbox" onclick=check(this.id) value=${data[i].maSP}  ></td>
    				</tr>
    				
    			`
    		}
    		products.innerHTML = content
    	
    	
    }
    function change(i){
    	let amounts = document.querySelectorAll("#amount")
		let sums = document.querySelectorAll("#sum")
		let prices = document.querySelectorAll("#price")
		sums[i].innerHTML = amounts[i].value * prices[i].textContent
  		
  }

    function check(id){
    	let productCheckboxs = document.querySelectorAll("#checkBox-product")
    	let customerCheckboxs = document.querySelectorAll("#checkBox-customer")
    	let productIds = document.querySelectorAll("#productId")
    	let productNames = document.querySelectorAll("#productName")
    	let amounts = document.querySelectorAll("#amount")
    	let sums = document.querySelectorAll("#sum")
    	let prices = document.querySelectorAll("#price")
    	
    	
        let customerIds = document.querySelectorAll("#customerId")
        let customerNames = document.querySelectorAll("#customerName")
        let emails = document.querySelectorAll("#email")
    	
    	
		let checkBox = document.getElementById(id);           		
		if(id=="checkAll-customer" || id=="checkAll-product"){
    		if(id=="checkAll-product"){
    			if(checkBox.checked){
    				productCheckboxs.forEach(i => i.checked=true)  
    				
    			}else{               				
    				productCheckboxs.forEach(i=>i.checked=false)
    			}
    		}else{
    			if(checkBox.checked){
    				customerCheckboxs.forEach(i=>i.checked=true)                				
    			}else{
    				customerCheckboxs.forEach(i=>i.checked=false)
    			}
    		}
    	}else{
    		if(id=="checkBox-product"){
    			 document.getElementById("checkAll-product").checked=false;
    		}else{
    			 document.getElementById("checkAll-customer").checked=false;
    		}
    	}
    } 
    
	   
	    	let amounts = document.querySelectorAll("#amount")
			let sums = document.querySelectorAll("#sum")
			let prices = document.querySelectorAll("#price")
		    for(let i = 0 ; i < amounts.length;i++){
		    	amounts[i].addEventListener('change',function(){      
		    			
		    			sums[i].innerHTML = amounts[i].value * prices[i].textContent
		    			
		    			
		    	})
		    }
	    
	    
    
        
    
        $("#send-mail").click(function(){
        	let productCheckboxs = document.querySelectorAll("#checkBox-product")
        	let customerCheckboxs = document.querySelectorAll("#checkBox-customer")
        	let productIds = document.querySelectorAll("#productId")
        	let productNames = document.querySelectorAll("#productName")
        	let amounts = document.querySelectorAll("#amount")
        	let sums = document.querySelectorAll("#sum")
        	let prices = document.querySelectorAll("#price")
        	
        	
            let customerIds = document.querySelectorAll("#customerId")
            let customerNames = document.querySelectorAll("#customerName")
            let emails = document.querySelectorAll("#email")
        	let productsSelected=[];
        	let customersSelected=[];
        	for(let i=0; i < productCheckboxs.length;i++){
        		if(productCheckboxs[i].checked == true){
        			let product={}
        			product.id=productIds[i].textContent
        			product.name=productNames[i].textContent
        			product.amount=amounts[i].value
        			product.price=prices[i].textContent
        			product.sum=sums[i].textContent
        			productsSelected.push(product)
        			
        		}
        	}
        	
        	for(let i=0; i < customerCheckboxs.length;i++){
        		if(customerCheckboxs[i].checked == true){
        			let customer={}
        			customer.id=customerIds[i].textContent
        			customer.name=customerNames[i].textContent
        			customer.email=emails[i].textContent
        			
        			customersSelected.push(customer)
        			
        		}
        	}
        	
        	if( productsSelected.length==0 &&  customersSelected.length ==0 ){
        		alert('Vui lòng chọn sản phẩm và khách hàng!!!')
        	}else if(productsSelected.length !=0 &&  customersSelected.length ==0){
        		alert('Vui lòng chọn khách hàng!!!')
        	}else if(productsSelected.length==0 &&  customersSelected.length !=0){
        		alert('Vui lòng chọn sản phẩm!!!')
        	}
        	else{
        		$.ajax({
            		type:"post",
            		url:"http://localhost:8080/api/send-mail/prepare-product",
            		contentType:"application/json",
            		data :JSON.stringify(productsSelected),
            		success:function(){
            			$.ajax({
                    		type:"post",
                    		url:"http://localhost:8080/api/send-mail/prepare-customer",
                    		contentType:"application/json",
                    		data :JSON.stringify(customersSelected),
                    		success:function(){
                    			alert('Gửi mail thành công!!!')
                    			customerCheckboxs.forEach(i=>i.checked=false)
                    			productCheckboxs.forEach(i=>i.checked=false)
                    			document.getElementById("checkAll-product").checked=false;
                    			document.getElementById("checkAll-customer").checked=false;
                    		}
                    	})
            		}
            	})
            	
        	}
        	
        	
        	
        	
        	
        	
        	
        })
        
        let searchCustomer = document.getElementById('search-customer')
        searchCustomer.addEventListener('input',function(){
        	
        	if(searchCustomer.value !=""){
        		$.ajax({
        			url:"http://localhost:8080/customer/search?q="+searchCustomer.value
        		}).then(function(data){
        			showDataCustomer(data)
        		})
        	}else{
        		$.ajax({
        			url:"http://localhost:8080/customer/getAll"
        		}).then(function(data){
        			showDataCustomer(data)
        		})
        	}
        })
        
	
    
		function showDataCustomer(data){
        	
        	let customers = document.getElementById('customers')
        	let content=""
        	
        	for(let i = 0 ; i < data.length;i++){
        		content+=`
        			<tr>
        			<td class="cus-id"> <p  id="customerId">${data[i].maKH}</p> </td>
               		<td class="cus-name"><p  id="customerName">${data[i].tenKH}</p></td>
               		<td class="cus-email"><p id="email">${data[i].email}</p></td>
               	 	<th class="cus-check"><input class="form-control" id="checkBox-customer" onclick=check(this.id) type="checkbox"  ></th>
        			</tr>
        		`
        	}
        	customers.innerHTML = content
        	
        }
	
	
    
		
		
    </script>
</body>

</html>