<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Medusa Shop</title>
   <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="css/warehouse.css">
    <link rel="stylesheet" href="css/modal-doihang.css">
</head>

<body onload="ShowAllDataWareHouse()">
    <div class="container-fluid p-0">

       <div th:insert="fragments/header :: header"></div>

        <!-- container -->
        <div class="row mt-5 pt-1" id="body-row">

            <div th:insert="fragments/sidebar :: sidebar"></div>
            <div class="warehouse">
                <div class="warehouse-path row">
                    <div class=" col-md-4 mt-2">
                        <a href="http://localhost:8080/">Bảng Điều Khiển</a>
                        <span> / Warehouse</span>
                    </div>
                    <div class="col"></div>
                    <div class="input-warehose col-md-4 row">
                        <label for="text" class="col-lg-2 mt-1">Search:</label>
                        <input type="text" class="form-control col-lg-6 ip-search-warehose" id="inputSearchWarehouse" placeholder="(*-*)">
                        
                    </div>
                      
                </div>
                
                <div class="warehouse-show mt-2">
                    <table style="width: 100%;" id="sort" class="table">
                        <thead>
                            <tr class="title ">
                                <th>Id</th>
                                <th>Name Product</th>
                                <th>Price</th>
                                <th>Price Old</th>
                                <th>Unit</th>
                                <th>Amount</th>
                                <th>Size</th>
                                <th>Classify</th>
                                <th>Date Manufacture</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            
                        </tbody>
                    </table>
                    <div class="button-phantrang" style="display: flex;justify-content: center;">
		            		 <div class="form-group form-inline" >
		            	 	<button class="btn btn-primary form-control" id="button-first" onclick="buttonFirst()">First</button>
		            		<button class="btn btn-primary form-control" id ="button-pre" onclick="buttonPre()"><i class="fas fa-arrow-left"></i></button>
		            		<input type="text" value="1" style="text-align: center;width: 50px"  class="form-control" id="input-page-number">
		            		<button class="btn btn-primary form-control" id ="go" onclick="buttonGo()" type="submit">Go</button>
		            		<button class="btn btn-primary  form-control" id ="button-next" onclick="buttonNext()"><i class="fas fa-arrow-right"></i></button>
		            		<button class="btn btn-primary form-control" id ="button-last" onclick="buttonLast()">Last</button>
		            	
		            	 </div>
                </div>
            </div>

            <!-- Model đổi hàng -->
                <!-- Modal -->
                <!-- <div class="modal fade modal-change" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Tạo Đơn Trả Hàng</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            
                            <div class="container">

                                <div class="MD-modal-paradigm row">
                                    <div class="MD-paradigm-color col-xl-6">
                                        <p class="MD-title-paradigm">1. Tim Don Hang</p>
                                        <div class="MD-triangle"></div>
                                    </div>
                                    <div class="MD-paradigm col-xl-6">
                                        <p class="MD-title-paradigm text-muted">2. Xu ly don hang</p>
                                    </div>
                                </div>
        
                                <div class="MD-modal-body mb-3" i>
                                    <div class="frames-checkma row justify-content-center mt-2">
                                        <input type="text" class="form-control col-xl-10" id="MD_maSP" placeholder="Ma Don Hang">
                                        <button class="btn btn-primary col-xl-1 MD-btn-checkmasp" id="check_maSP">Kiem Tra</button>
                                    </div>

                                    <div id="modaldata"></div>
                                    
                                </div>
                            </div>                               

                        </div>
                    </div>
                </div> -->

                <!-- <div class="modal fade modal-change" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Tạo Đơn Trả Hàng</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            
                            <div class="container">

                                <div class="MD-modal-paradigm row">
                                    <div class="MD-paradigm-nocolor col-xl-6">
                                        <p class="MD-title-paradigm text-muted">1. Tim Don Hang</p>
                                        <div class="MD-triangle-nocolor"></div>
                                    </div>
                                    <div class="MD-paradigm-color col-xl-6">
                                        <p class="MD-title-paradigm ">2. Xu ly don hang</p>
                                    </div>
                                </div>
        
                                <div class="MD-modal-body mb-3">
                                    <div class="MD2-title-id d-flex justify-content-start mt-3 ml-2">
                                        <h4>Don Hang :</h4>
                                        <p class="MD2-dh-id ml-1">AH45-485</p>
                                    </div>
                                    <div class="MD2-frames-table">
                                        <table style="width: 98%; margin-left: 1%; margin-bottom: 20px;">
                                            <thead>
                                                <tr class="MD2-tr">
                                                    <th class="MD2-col1">STT</th>
                                                    <th class="MD2-col2">Ten San Pham</th>
                                                    <th class="MD2-col3">Gia</th>
                                                    <th class="MD2-col4">So Luong</th>
                                                    <th class="MD2-col5">Thanh Tien</th>
                                                    <th class="MD2-col6">Tra Hang</th>
                                                    <th class="MD2-col7">SL Tra</th>
                                                    <th class="MD2-col8">Don Gia</th>
                                                    <th class="MD2-col9">Thanh Tien</th>
                                                </tr>
                                            </thead>
                                            <tbody id="MD2-table">
                                               <tr class="MD2-tr">
                                                <td class="MD2-col1">1</td>
                                                <td class="MD2-col2">Ten San Pham</td>
                                                <td class="MD2-col3">100000</td>
                                                <td class="MD2-col4">5</td>
                                                <td class="MD2-col5">Thanh Tien</td>
                                                <td class="MD2-col6">
                                                    <input type="checkbox" >
                                                </td>
                                                <td class="MD2-col7">
                                                    <input class="MD2-ip" type="number">                                                
                                                </td>
                                                <td class="MD2-col8">
                                                    <input class="MD2-ip" type="text">
                                                </td>
                                                <td class="MD2-col9">200000</td>
                                               </tr> 
                                            </tbody>
                                        </table>
                                    </div>
    
                                    <div class="MD2-thanhtoan row">
                                        <div class="col-xl-5"></div>
                                        <div class="col-xl-7 row">
                                            <div class="col-md-5 row">
                                            	<div class="MD2-rowname col-sm-7">
                                                    <p>Tong tien:</p>
                                                    <p>Giam gia:</p>
                                                    <p>Thue:</p>
                                                    <p>Phi van chuyen:</p>
                                                    <p><strong>Thanh tien:</strong></p>
                                                </div>
                                            	<div class="MD2-rowkq col-sm-5">
                                            		<p>10000000</p>
                                            		<p>10000000</p>
                                            		<p>10000000</p>
                                            		<p>10000000</p>
                                            		<p>10000000</p>
                                            	</div>
                                            </div>
                                            <div class="col-md-7 row">                                         
                                            	<div class="col-sm-5 d-flex">
                                            		<p>Tong SL tra : </p>
                                            		<p> 100</p>
                                            	</div>
                                            	<div class="col-sm-7 d-flex">
                                            		<p>Tong tien tra : </p>
                                            		<p> 100000</p>
                                            	</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div> -->



        </div>
    </div>

   <script th:src="@{/resources/jquery/jquery.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>
    <script src="main.js"></script>
    <script src="tablesort.js"></script>
    <script src="doiHang.js"></script>

    <script>
        function ShowAllDataWareHouse(){
            $.ajax({url: "http://localhost:8080/admin/getProduct?pageNumber="+0})
                .then(function(datawarehouse){
                    ShowDataProduct(datawarehouse);
                })
        }
        function ShowDataProduct(dataProduct){
            let table = document.getElementById("table");
                table.innerHTML = "";
                    for (let i = 0; i < dataProduct.length; i++) {
                    let contents = "";
                        contents +=`
                            <tr class="">
                                <td>${dataProduct[i].maSP}</td>
                                <td>${dataProduct[i].tenSP}</td>
                                <td>${dataProduct[i].donGia}</td>
                                <td>${dataProduct[i].giaGoc}</td>
                                <td>${dataProduct[i].donVi}</td>
                                <td>${dataProduct[i].soLuong}</td>                                
                                <td>${dataProduct[i].size}</td> 
                                <td>${dataProduct[i].phanLoai}</td>
                                <td>${dataProduct[i].ngaySanXuat}</td>
                            </tr>`;
                        $(contents).appendTo(table);    
                    }
        }
    $(document).ready(function(){
        $("#searchWarehouse").click(function search(){
            let ipsearch = document.getElementById("inputSearchWarehouse").value;
            if(ipsearch == ""){
                $.ajax({url: "http://localhost:8080/admin/getProduct?pageNumber="+0})
                .then(function(datawarehouse){
                    ShowDataProduct(datawarehouse);
                })
            } else {
                $.ajax({url : "http://localhost:8080/admin/selectByName?nameSP="+ipsearch})
                    .then(function(dataSearch){
                        ShowDataProduct(dataSearch);
                    })
            }
        })

    })

    function buttonFirst(){
    		
    			$.ajax({url: "http://localhost:8080/admin/getProduct?pageNumber="+0})
                .then(function(dataOrder){ 
                	document.getElementById("input-page-number").value=1
                	ShowDataProduct(dataOrder);
                   
                })
    				  		
    	}
    	function buttonPre(){
    		i = document.getElementById("input-page-number")
    		
    			    		
        		if(i.value > 1){
        			$.ajax({url: "http://localhost:8080/admin/getProduct?pageNumber="+(i.value-2)})
                    .then(function(dataOrder){
                    	
                    	i.value -=1
                    	ShowDataProduct(dataOrder);
                        
                    })
        		
    		}
    		
            
    		
    	}
    	function buttonGo(){
    		i = document.getElementById("input-page-number")  
    		
			$.ajax({url: "http://localhost:8080/admin/getProduct?pageNumber="+(i.value-1)})
    			
                .then(function(dataOrder){                	                	
                	ShowDataProduct(dataOrder);
                    
                })
    		
    		
    		    		           
    		
    	}
    	function buttonNext(){
    		i = document.getElementById("input-page-number")   
    		
    		
    			    		
    			$.ajax({url: "http://localhost:8080/admin/getProduct?pageNumber="+(i.value)})   			
                .then(function(dataOrder){                        	
					i.value = parseInt(i.value)+1
					ShowDataProduct(dataOrder);
                    
                }) 
    		}
    		
    		   		           
    			
    			
    	
    	
    	
    		
    		
    	function buttonLast(){
    		i = document.getElementById("input-page-number")   	
    		
			    		
			$.ajax({
    			url:"http://localhost:8080/admin/get-last-page-product"
    		}).then (function(count){
    			console.log(count)
    			
    			$.ajax({url: "http://localhost:8080/admin/getProduct?pageNumber="+count})   			
                .then(function(dataOrder){                     	
					i.value = count+1
					ShowDataProduct(dataOrder);
                   
                })  
    		})	
		
    		
    		           
    			
    	}

    </script>
    <script>
        table = document.getElementById('sort');
        new Tablesort(table);
    </script>
    <script>
    	
        $(document).ready(function(){
          $("#inputSearchWarehouse").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
    
	<script>
        

    </script>
    
</body>

</html>