<!DOCTYPE html>
<html>
<head>
<meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Medusa Shop</title>
   <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<script th:src="@{/resources/jquery/jquery.min.js}"></script>
	<script th:src="@{/resources/bootstrap/js/bootstrap.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
<!-- Side bar -->
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block" th:fragment="sidebar">

                <ul class="list-group">

                    <li
                        class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        <small><strong>Quản trị</strong></small>
                    </li>

                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-dashboard fa-fw mr-3"></span>
                            <span class="menu-collapsed">Bảng điều khiển</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu1' class="collapse sidebar-submenu">
                        <a href="http://localhost:8080/" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-line-chart ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Báo cáo</span>
                        </a>
                        <a href="http://localhost:8080/order" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-calendar-check-o ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Đơn hàng</span>
                        </a>

                        <a href="http://localhost:8080/baogia" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-calendar-check-o ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Báo giá</span>
                        </a>
                    </div>
                    

                    <a href="#submenu3" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-tasks fa-fw mr-3"></span>
                            <span class="menu-collapsed">Công nợ</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu3' class="collapse sidebar-submenu" >
                        <a href="http://localhost:8080/cong-no-phai-thu" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-info-circle ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Phải thu</span>
                        </a>
                       
                    </div>

                    <li
                        class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                        <small><strong>Tùy chọn</strong></small>
                    </li>

                    <a href="#submenu4" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-shopping-cart fa-fw mr-3"></span>
                            <span class="menu-collapsed">Bán hàng</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <div id='submenu4' class="collapse sidebar-submenu">
                        <a href="http://localhost:8080/sales" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="fa fa-plus-circle ml-2 mr-2" aria-hidden="true"></span>
                            <span class="menu-collapsed">Bán hàng</span>
                        </a>

                        
                    </div>

                    <a href="http://localhost:8080/warehouse" class="bg-dark list-group-item list-group-item-action" >
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-calendar fa-fw mr-3"></span>
                            <span class="menu-collapsed">Kho hàng</span>
                        </div>
                    </a>

                    

                  

                    <a href="#" data-toggle="sidebar-colapse"  class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        </div>
                    </a>
                </ul>
            </div>
</body>
</html>