@charset "ISO-8859-1";
.warehouse{
    width: calc(100% - 230px);
    height: 100vh;
    background: rgb(242, 241, 241);
   
}

.warehouse-path{
    width: 100%;
    line-height: 2.1;
    padding-left: 30px;
    height: 40px;
    font-size: 18px;
    background: #fff;
}
.warehouse-search{
    width: 100%;
    height: 70px;
    background: #fff;
}
.input-warehose{
    padding: 11px 0 11px 26px;
}
.input-warehose .ip-search-warehose{
    float: left;
}
.input-warehose .btn-warehose{
    margin-top: 5.5px;
    width: 75px;
    margin-left: 12px;
}
.warehouse-show{
    width: 49%;
    height: auto;
    padding: 10px 10px;
    background: #fff;
    margin-left: 10px;
}
.baogia{
    width: 100%;
    height: 100vh;
}
td,th{
	
	font-size:0.9em;
	text-align: center;
	
}
.cus-id {
	width: 64px;
}
.cus-name {
	width: 180px;
}
.cus-email {
	width: 300px;
}
.pr-id{
	width:50px;
}
.pr-name {
	width:160px;
}
.pr-price{
	width:100px;
}
.pr-amount{
	width:120px;
}
.pr-sum{
	width:120px;
}
.table-header table thead {
	background: #9b59b6;
	color: #fff;
}
.table-header table thead tr th{
	font-weight: 700;
	font-size: 0.9em;
	text-transform: uppercase;
}
.text-title{
	color: #9b59b6;
	font-weight: 700;
	letter-spacing: 1px;
}









