.modal-dialog{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%x;
}

/* mau mau thanh chuyen trang 1 and 2 */
.MD-modal-paradigm{
    margin: 15px 0 20px 0;
    height: 50px;
}
.MD-paradigm{
    border: 1px solid rgb(211, 211, 211);
    border-left: 0px;
    height: 100%;
}
.MD-paradigm-color{
    background: rgb(243, 243, 243);
    border: 1px solid rgb(211, 211, 211);
    height: 100%;
}
.MD-paradigm-nocolor{
    border: 1px solid rgb(211, 211, 211);
    height: 100%;
    border-right: 0;
    z-index: 10000;
}
.MD-title-paradigm{
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
}
.MD-triangle{
    width: 20px;
    height: 20px;
    background: rgb(243, 243, 243);
    transform: rotate(45deg);
    position: absolute;
    right: -11px;
    top: 15px;
    border-right: 1px solid rgb(211, 211, 211);
    border-top: 1px solid rgb(211, 211, 211);
}
.MD-triangle-nocolor{
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    right: -11px;
    top: 15px;
    border-right: 1px solid rgb(211, 211, 211);
    border-top: 1px solid rgb(211, 211, 211);
}
/* ket thuc thanh title 1 va 2 */

/* kiem tra thong tin khach hang */
/* modal 1 */
.MD-modal-body{
    border: 1px solid rgb(211, 211, 211);
}
.MD-btn-checkmasp{
    height: 38px;
    margin-top: 4px;
}
.MD-frames-ifor-order{
    border: 1px solid rgb(211, 211, 211);
    width: 94.7%;
    margin-left: 31px;
    border-radius: 3px;
}
.MD-frames-line{
    width: 100%;
    height: 27px;
    margin-left: 25px;
    font-weight: 470;
}
.MD-line-title{
    font-size: 16px;
}
.MD-line-content{
    font-size: 16px;
    margin-top: -2.3px;
}
.MD-icon-check{
    margin: 3px 10px 0 0;
}
.MD-btn-next{
    width: 100px;
    height: 30px;
    margin-bottom: 12px;
    line-height: 1;
}
/* modal 2 */

.MD2-dh-id{
    font-size: 22px;
    font-weight: 500;
}
.MD2-tr{
    font-size: 14px;
    border-bottom: 1px solid;
}
.MD2-col1{ width: 4%;}
.MD2-col2{ width: 40%;}
.MD2-col3{ width: 7%;}
.MD2-col4{ width: 9%;}
.MD2-col5{ width: 9%;}
.MD2-col6{ width: 7%;}
.MD2-col7{ width: 7%;}
.MD2-col8{ width: 7%;}
.MD2-col9{ width: 10%;}

.MD2-ip{
    width: 95%;
    height: 80%;
}